@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  color: #575757;
  background: none;
}

body {
  padding: 0 20px;
  font-size: 16px;
  background: #f0f0f5;
}
